.container-box {
  height: 100%;
  overflow: hidden;

  :global {
    .empty-wrapper {
      margin-top: 200px;
    }

    .spin-wrapper {
      height: 100%;
      .ant-spin-container {
        height: 100%;
      }
    }
  }
}
