@import '../../../themes/vars.less';
.role-box {
  height: 100%;
  padding: 0;
  overflow: hidden;
  width: 100%;
  background-color: @page-background-color;
  :global {
    .desc-box {
      .field-item {
        .label::after {
          content: ':';
          margin: 0 4px;
        }
      }
    }
  }
}
