.container-box {
  :global {
    .ant-tabs {
      height: 100%;
      .ant-tabs-content {
        height: 100%;
        .ant-tabs-tabpane.ant-tabs-tabpane-active {
          height: 100% !important;
          .ant-card {
            height: 100%;
            .ant-card-body {
              padding: 12px 0 0 0;
              height: calc(100% - 57px);
            }
          }
          .seid-panel {
            height: 100% !important;
            .panel-body {
              height: 100% !important;
              max-height: 100% !important;
            }
          }
          .seid-tool-bar {
            button {
              margin-right: 8px;
            }
          }
        }
      }
    }
  };
}
